@media screen and (min-width: 50rem) {
  .embeddedServiceHelpButton .helpButton {
    position: fixed;
    bottom: 0.25rem !important;
    right: 4.75rem !important;
    width: 3.4375rem !important;
    height: 3.4375rem !important;
  }

  .embeddedServiceSidebar.layout-docked .dockableContainer {
    right: 0.75rem;
  }
}

@media screen and (max-width: 49.9375rem) {
  .embeddedServiceHelpButton .helpButton {
    bottom: 4.75rem !important;
    right: 0.75rem;
  }
}

.embeddedServiceHelpButton .helpButton .uiButton {
  background: black !important;
  font-family: 'Arial', sans-serif !important;
  min-width: pxToRem(55) !important;
  width: pxToRem(55) !important;
  height: pxToRem(55) !important;
  border-radius: 50% !important;
  font-size: 1.5rem !important;
  box-shadow: none !important;
}

/* .embeddedServiceHelpButton .helpButton .uiButton:focus {
  outline: 1px solid #005290;
} */

.embeddedServiceHelpButton .helpButton .uiButton.helpButtonDisabled {
  display: none;

  /* background: #F5F5F5 !important;
  color: #C3C3C3;
  cursor: none;
  pointer-events: none;
  max-width: 4em;
  border: 0.0625rem solid;
  font-size: 1.5rem !important;
  box-shadow: none; */
}

.embeddedServiceHelpButton .helpButton .uiButton .helpButtonLabel {
  display: none;
}

.embeddedServiceSidebarButton {
  background-color: black;
}

.live-chat-hide {
  display: none;
}
